

/* * {
    border: solid red 2px;
} */


p {
    color: black;
}

h1{
    font-family: 'HomeVideo';
}

h1:hover{
    color: rgb(229, 0, 176)
} 
a {
    color:white;
}

html,
body,
nav {
    background-color: rgb(237, 224, 166);
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}

main {
    width :600px;
    margin-left: auto;
    margin-right: auto;
    border :2px solid black;
    margin-top: 60px;
    background-color: rgb(237, 224, 166);
}

/* class selectors start with . */
.main-text {
    padding-left:20px;
    padding-right: 20px;
    text-align: justify;
    font-family: 'Matcha';

}


/* ID selectors start with # */

#navigation:hover {
    background-color: rgb(0, 0, 0);

}
#navigation {
    background-color: rgba(0, 0, 0,.5);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20pt;
    font-family: 'Matcha';

    /* margin-bottom: 20px; */
    position:fixed;
    top: 0px;
    left:0px;
    height: 40px

}

#navigation a {
    margin-left: 60px;
    text-decoration: none;
}
#navigation a:hover {
    color: crimson;
    text-decoration: underline;
}


@font-face {
    font-family: 'Matcha';
    src:  url('./fonts/Good_Matcha.woff2') format('woff2')
  }


  @font-face {
    font-family: 'HomeVideo';
    src:  url('./fonts/HVB.woff2') format('woff2')
  }

  body {
    background-image: url("./img/brick.jpg");
    background-repeat: repeat;
    background-size: 200px;
  }

  html {
    background-color: black;
  }

  footer {
    background-color: black;
    color: white;
    font-family: 'Matcha';
    width :600px;
    margin-left: auto;
    margin-right: auto;
    border :2px solid black;
    padding-bottom :10px;
    padding-top: 10px;
  }